.root{
  --img-container-border-color: #e7e7e7;
  --img-size: 480px
}

.root {
  display: flex;
  justify-content: flex-end;
}

.img_container {
  width: var(--img-size);
  height: var(--img-size);
  border-radius: var(--theme-border-radius);
  box-shadow: 0px 0px 0px 1px var( --img-container-border-color);
}

.banner {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}