.root {
  --root-width: 100%;
  --root-height: 100%;

  --content-padding: var(--space-xl);
}

.root {
  width: var(--root-width);
  height: var(--root-height);
  padding: var(--content-padding);
}

.content {
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
  max-width: min(1140px, 100% - 40px);
}

.content__inline {
  display: flex;
  align-items: center;
  margin: var(--space-stack-xl);
}

.content__inline>*+* {
  margin-left: var(--space-inset-l);
}

.content__inline>section {
  flex: 1;
}

.statement {
  margin: var(--space-stack-m);
}

.action {
  display: flex;
}

/* Large Devices, Wide Screens */
@media screen and (max-width: 1200px) {}

/* Medium Devices, Desktops */
@media screen and (max-width: 992px) {}

/* Small Devices, Tablets */
@media screen and (max-width: 768px) {}

/* Extra Small Devices, Phones */
@media screen and (max-width: 480px) {}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {}